{% extends "Project/layout.html" %}
{% load static %}

{% block title %}
    Examenes
{% endblock %}

{% block body %}
  <div class="container">
    <h1>Examenes por universidad</h1>
    <hr>
    <div class="accordion" id="accordionExample">
      {% for university in page_obj %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading-university-{{university.id}}">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse-university-{{university.id}}" aria-expanded="false" aria-controls="collapse-university-{{university.id}}">
            {{ university.name }}
          </button>
        </h2>
        <div id="collapse-university-{{university.id}}" class="accordion-collapse collapse"
          aria-labelledby="heading-university-{{university.id}}" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>Carreras</strong>
            {% for career_type in university.carrer_types.all %}
            <div class="accordion" id="accordionExample-career-type-{{career_type.id}}">
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading-career-type-{{career_type.id}}">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse-career-type-{{career_type.id}}" aria-expanded="false"
                    aria-controls="collapse-career-type-{{career_type.id}}">
                    {{ career_type.name }}
                  </button>
                </h2>
                <div id="collapse-career-type-{{career_type.id}}" class="accordion-collapse collapse"
                  aria-labelledby="heading-career-type-{{career_type.id}}" data-bs-parent="#accordionExample-career-type-{{career_type.id}}">
                  <div class="accordion-body">
                    <div class="d-flex justify-content-center flex-wrap align-items-center">
                      {% for career in university.careers.all %}
                        {% if career.carrer_type == career_type %}
                        <div class="p-2 g-col-1">
                          <div class="border rounded p-2 career-style text-center">{{ career.name }}</div>
                        </div>
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            <hr>
            <strong>Examenes</strong>
            {% for exam in university.exams.all %}
            <div class="accordion" id="accordionExample-exam-{{exam.id}}">
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading-exam-{{exam.id}}">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse-exam-{{exam.id}}" aria-expanded="false" aria-controls="-examcollapse-{{exam.id}}">
                    {{ exam.title }}
                  </button>
                </h2>
                <div id="collapse-exam-{{exam.id}}" class="accordion-collapse collapse" aria-labelledby="heading-exam-{{exam.id}}"
                  data-bs-parent="#accordionExample-exam-{{exam.id}}">
                  <div class="accordion-body">
                    <div class="container text-center">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{exam.description|safe|linebreaksbr}}</li>
                        <li class="list-group-item"><strong> Duración:</strong> {{exam.duration}} minutos</li>
                        {% if is_student and exam.is_active %}
                        <li class="list-group-item"><a class="btn btn-primary" href="/start_exam/{{exam.id}}"
                            role="button">Iniciar Examen</a></li>
                        {% endif %}
                        {% for collaborator in exam.collaborators.all %}
                          {% if request.user == collaborator.user %}
                          <li class="list-group-item"><a class="btn btn-primary" href="/exam_edit/{{exam.id}}/fecha"
                              role="button">Editar Examen</a></li>
                          {% endif %}
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            <hr>
            <strong>Links de Interés</strong>
            <div class="container text-center">
              <div class="row align-items-center">
                <div class="col-xs-12 col-md-6">
                  <a href="{{university.admision_link}}" class="btn btn-primary" role="button"
                    target="_blank">Admisión</a>
                </div>
                <div class="col-xs-12 col-md-6">
                  <!-- Redirect the img to the links-->
                  {% for social_media in university.social_media.all %}
                    {% if social_media.name == "facebook" %}
                    <a href="{{social_media.url}}" target="_blank"><img src="\static\Project\SVGs\icons8-facebook-nuevo.svg"
                        alt="Icono de Facebook"></a>
                    {% endif %}
                    {% if social_media.name == "twitter" %}
                    <a href="{{social_media.url}}" target="_blank"><img src="\static\Project\SVGs\icons8-twitter.svg"
                        alt="Icono de Twitter"></a>
                    {% endif %}
                    {% if social_media.name == "instagram" %}
                    <a href="{{social_media.url}}" target="_blank"><img src="\static\Project\SVGs\icons8-instagram.svg"
                        alt="Icono de Instagram"></a>
                    {% endif %}
                    {% if social_media.name == "youtube" %}
                    <a href="{{social_media.url}}" target="_blank"><img src="\static\Project\SVGs\icons8-youtube-play.svg"
                        alt="Icono de Youtube"></a>
                    {% endif %}
                    {% if social_media.name == "linkedin" %}
                    <a href="{{social_media.url}}" target="_blank"><img src="\static\Project\SVGs\icons8-linkedin.svg"
                        alt="Icono de Linkedin"></a>
                    {% endif %}
                    {% if social_media.name == "flickr" %}
                    <a href="{{social_media.url}}" target="_blank"><img src="\static\Project\SVGs\icons8-flickr.svg"
                        alt="Icono de Flickr"></a>
                    {% endif %}
                    {% if social_media.name == "tiktok" %}
                    <a href="{{social_media.url}}" target="_blank"><img src="\static\Project\SVGs\icons8-tik-tok.svg"
                        alt="Icono de Tik Tok"></a>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <hr>
    <!-- Pagination -->
    <div class="d-flex justify-content-center">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
          {% endif %}
          {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
              <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
{% endblock %}