{% extends "Project/layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="jumbotron">
                    <h1 class="display-4">Bienvenido a la Plataforma de Exámenes Universitarios</h1>
                    <p class="lead">Aquí puedes tomar exámenes de cualquier universidad del Perú y ver tus resultados.</p>
                </div>                
            </div>
            <img src="\static\Project\Images\Banner-V1.jpg" class="img-fluid" id="banner" alt="Banner">
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">¿De que trata?</h2>
                <p>Toma examenes universitarios en línea y obtenen los resultados inmediatamente después de terminar la prueba. Una vez que hayas completado un examen, te proporcionaremos una descripción detallada de tus respuestas, indicando las que son correctas e incorrectas, así como una explicación para cada respuesta.
                </p>
                <p>
                Además, nuestra plataforma ofrece la posibilidad de acceder a un historial de tus exámenes anteriores en tu perfil, lo que te permitirá realizar un seguimiento de tu progreso y conocer tus áreas de fortaleza y debilidad. Te invitamos a unirte a nuestra comunidad en línea y comenzar a prepararte para tus exámenes universitarios hoy mismo.
                </p>
                <p class="text-center"><strong>¡Comienza a estudiar con nosotros y alcanza tus metas académicas!</strong></p>
            </div>
        </div>
        {% if not user.is_authenticated %}
          <hr>
          <div class="row">
              <div class="col-12 text-center">
                  <h2>Iniciar Sesión</h2>
                  <p>¿Ya tienes una cuenta? Inicia sesión para comenzar a estudiar.</p>
                  <a href="/login" class="btn btn-primary">Iniciar Sesión</a>
                  <p>¿Eres nuevo? <a href="{% url 'register' %}" title="Regístrate para crear una cuenta nueva">Regístrate aquí</a>.</p>
              </div>
          </div>
        {% endif %}
        <hr>
        <div class="row" id="FAQs">
            <div class="col-12">
                <h2 class="text-center">Preguntas frecuentes</h2>
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            ¿Cómo puedo registrarme en el sitio?
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                            Para registrarte en nuestro sitio, ve a la página de registro y completa el formulario con tus datos personales y de contacto. Una vez que hayas enviado el formulario, se te mostrará la página de los exámenes.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                            ¿Cómo puedo tomar un examen en línea?
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            Para tomar un examen en línea, inicia sesión en tu cuenta y selecciona el examen que deseas tomar. Sigue las instrucciones y responde las preguntas del examen. Una vez que hayas completado el examen, recibirás tus resultados inmediatamente.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                            ¿Cómo puedo revisar mis resultados de examen?
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            Para revisar tus resultados de examen, inicia sesión en tu cuenta y ve al historial de exámenes ubicado en tu perfil. Allí podrás ver los exámenes que has tomado y los resultados de cada uno, incluyendo las respuestas correctas e incorrectas y una explicación detallada de cada respuesta.
                        </div>
                      </div>
                    </div>
                  </div>        
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}