{% extends "Project/layout.html" %}
{% load static %}

{% block title %}
    Perfil
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">{{user.username}}</h1>
        {% if is_student %}
            <div class="table-responsive">
                <table class="table table-hover align-middle text-center caption-top">
                    <caption>Historial</caption>
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Examen</th>
                            <th scope="col">Puntaje</th>
                            <th scope="col">Tiempo</th>
                            <th scope="col">Detalles</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for exam in page_obj %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ exam.date }}</td>
                            <td>{{ exam.exam.title }}</td>
                            <td>{{ exam.score }} / {{exam.answers.all|length}}</td>
                            <td>{{ exam.duration }} / {{exam.exam.duration}} min</td>
                            <td>
                                <a href="/exam_result/{{exam.id}}" class="d-inline-flex focus-ring py-1 px-2 text-decoration-none border rounded-2">Ver</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {% if is_collaborator %}
            <div class="table-responsive">
                <table class="table table-hover align-middle text-center caption-top">
                    <caption>Examenes asignados</caption>
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Examen</th>
                        <th scope="col">Universidad</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Editar</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for exam in page_obj %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ exam.title }}</td>
                            <td>{{ exam.university.name }}</td>
                            {% if exam.is_active %}
                                <td>Activo</td>
                            {% else %}
                                <td>Inactivo</td>
                            {% endif %}
                            <td>
                                <a href="/exam_edit/{{exam.id}}/fecha" class="d-inline-flex focus-ring py-1 px-2 text-decoration-none border rounded-2">Editar</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        <!-- Pagination -->
        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
                {% endif %}
            </ul>
            </nav>
        </div>
    </div>
{% endblock %}