ul li {
    transition: all 0.2s ease-in-out;
}

ul li:hover {
    background-color: #f5f5f5;
}

.career-style {
    transition: all 0.2s ease-in-out;
}

.career-style:hover {
    background-color: #f5f5f5;
}

.form-group {
    margin-bottom: 0.5rem;
}

/* default styles */
.exam-image {
    max-width: 500px;
    max-height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.style-image-option {
    max-width: 250px;
    max-height: 250px;
}

/* media queries for mobile devices */
@media (max-width: 767px) {
    .exam-image {
        max-width: 100%;
        max-height: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .style-image-option {
        max-width: 100%;
        max-height: 150px;
    }

    #banner {
        content: url("/static/Project/Images/Banner-V1-Mobile.jpg");
    }
}


#time-exam {
    /* Make it small */
    max-width: 50px;
}

.text-exam {
    /* The content must be fully display */
    height: 15vh;
}

.question-buttons {
    margin: 0 2px;
}

.OrdenQuestions {
    width: 70px;
}